#auth-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 3em;
  max-height: 100%;
}

#login-wrapper,
#register-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 32%;
  height: 500px;
  background-color: #ffe2ea;
  font-family: 'IBM Plex Serif', serif;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.6);
}

#register-wrapper #reg-desc {
  width: 60%;
}

input {
  width: 300px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  height: 40px;
}

label {
  padding: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* buttons */
#login-button,
#reg-button {
  background-color: #fd779d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  width: 120px;
}

.googleButton {
  background-color: #94baf9;
  color: white;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 3%;
  padding-top: 5px;
  cursor: pointer;
}

.googleButton img {
  width: 30px;
  height: auto;
}

.googleButton b {
  top: -10px;
  left: 5px;
  position: relative;
}
