#Header {
  background-color: #c4f1f1;
  min-width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  background-image: linear-gradient(to right, #72dcca, white);
  background: #72dcca;
  background: linear-gradient(to right, #72dcca, white);
}

#nav-content {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, rgba(255, 255, 255, 0.399), #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
